
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let data of images">
    <div class="card h-100">
      <img [src]="data.imagePath" class="card-img-top" alt="..." style="height: 150px; width: 100%;"> <!-- Adjust the height and width as needed -->
      <div class="card-body">
        <h6 class="text-warning">Using {{data.typeOfProject}}</h6>
        <p class="card-text">{{data.description}}</p>
        <a [href]="data.link" target="_blank" class="btn btn-warning w-100">Visit</a>
      </div>
    </div>
  </div>
</div>




